.searchBar{
    margin-top: 30px;
    display: flex;
    font-size: 3vw;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.fa-undo{
    font-size: 15px;
    margin: 3px;
}
.userLine{
    display: flex;
    align-items: center;
    .fa-user-minus{
        font-size: 22px;
    }
}
.user_detail{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: center;
    align-items: center;
    
}
.department_list{
    border:solid 1px #d65759;
    border-radius: 50px;
    font-size: 20px;
    color: black;
    text-align: center;
    background-color: #d65759;
     width: 50%;
    margin: 30px  !important;
    height: 70px;
    p{
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
    }
}

@media only screen and (max-width: 900px){
    .department_list{
    
        margin: 10px  !important;
     
    }
}