
.searchContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3px;
    margin-top: 50px;
    p,a{
        text-decoration: none;
        color: rgb(27, 56, 110);
        text-align: center;
        margin: 1px;
    }
}
// .Human.Resources.Department{
//     display: none;
// }