.user_list{
    display: flex;
    margin: 30px 10%;
    padding: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    .data_date{
        width: 115%;
    }
    .birth_data_date{
        width: 113%;
    }
    div{
        margin: 10px;
    }
    .personal_select{
        align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    padding: 13px;
    border: 1px solid #e37e61; 
    border-radius: 30px;
    font-size: 20px;
    width: 25%;
    font-size: 15px;
    margin: 20px;
    background-color: #e37e61;
    p{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: nowrap;
        width: 100%;
        height: 80px;
    }
    }
 
}
.update_message{
    background: blue;
    color: yellow;
    font-size: 20px;
}
.imageBar{
    .fa-edit{
    margin: 20px;
    background-color:transparent;
  
    font-size: 30px;
    }
    .fa-check-circle{
    margin: 20px;
    background-color:transparent;
    border-radius: 50px;
    
    font-size: 30px ;
    }
    .fa-arrow-circle-left{
        margin: 20px; 
        background-color: transparent;
       
        font-size: 30px;
    }
}
@media screen and (max-width: 800px) {
    .searchBar{
        input{
            margin: 30px;
            font-size: 20px;
            width: 100%;
            height: 30px;
        }
    }
    .user_list{
        display: flex;
        margin: 0px;
        padding: 5px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        font-size: 15px;

        div{
            margin: 5px;
        }
        .personal_select{
            align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
            padding: 10px;
            border: 1px solid #e37e61; 
            border-radius: 30px;
            font-size: 23px;
            width: 50%;
            font-size: 20px;
            margin: 20px;
            background-color: #e37e61;
            p{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                align-content: center;
                flex-wrap: nowrap;
                width: 100%;
                height: 100px;
            }
            }
        
    }
    .imageBar{
        .fa-edit{
        margin: 10px;
        background-color:transparent;
      
        font-size: 18px;
        }
        .fa-check-circle{
        margin: 10px;
        background-color:transparent;
        border-radius: 50px;
        
        font-size: 18px;
        }
        .fa-arrow-circle-left{
            margin: 10px; 
            background-color: transparent;
           
            font-size: 18px;
        }
    }

}
.formList{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
}

ul {
    list-style-type: none;
  }

