

.uploadForm{
    margin: 20px;
}

.addNew{
    margin: 3px;
}
.departmentList{
    input{
        margin-top:5px;
        padding: 3px;
    }
    button{
        margin-left: 5px;
    }
    li{
        padding: 2px;
    }
    position: absolute;
    top:50%;
    right: 20%;
    background-color: blanchedalmond;
    border: solid 1px black;
    border-radius: 50px,50px,50px,50px;
    width: 50%;
    font-size: 18px;
    height: 30%;
    
}
h1{
    width: 100%;
}
.DataInput{
position: absolute;
margin: 10px;
}


// .dateInput,.leaveInput{
//     width: 40%;
// }
.formBtn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .fas{
        font-size: 35px;
        margin: 30px;
    }
}
.employeeData{
    display: flex;
}
table .title {
    text-transform: capitalize;
  }
 .FromList table {
    margin: auto;
  } 
.addList{
    position: absolute;
    z-index: 9999;
    border: solid 1px rgb(57, 22, 153);
    bottom: 5%;
    left: 10%;
    color: #66c0f4;
    text-align: center;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    height: 30%;
    margin: 6%;
    padding: 3%;
    border-radius: 40px;
    background-color: #3d3d8a;
    z-index: 99;
      .fa-times-circle{
        position: absolute;
        right: 0px;
        top:0px;
        font-size: 20px;
        border-radius: 30px;
        background-color:red;
        color: white;
       }
}
.uploadForm{
    label{
    font-size: 20px;
    margin: 10px;
    background-color: rgb(70, 163, 167);
    }
}

.message_comfirm{
    background: blue;
    color: yellow;
    font-size: 15px;
}

@media screen and (max-width: 600px) {
    .formBtn{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 40px;
        .fas{
            font-size: 35px;
            margin: 30px;
        }
    }
    select{
        width: 50%;
    }
    .comfirmAC{
        width: 70%;
        position: absolute;
        z-index: 9999;
        background: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg);
        font-family: "Font Awesome 5 Free";
        align-items: center;
        border: solid 1px #686464;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 20%;
        margin: 80px;
        .fa-times-circle{
            position: absolute;
            right: 0px;
            top:0px
        }
    }
}
@media screen and (min-width: 600px) {
    .comfirmAC{
        width: 50%;
        position: absolute;
        z-index: 9999;
        background: url(https://store.cloudflare.steamstatic.com/public/images/v6/home/background_spotlight.jpg);
        font-family: "Font Awesome 5 Free";
        align-items: center;
        margin-right: 10px;
        border: solid 1px #686464;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        top: 20%;
        margin-left: 30%;
        .fa-times-circle{
         position: absolute;
         right: 0px;
         top:0px
        }
    }
}


@media screen and (min-width: 700px) {
    .employeeForm{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        
        label{
        width: 120px;
        text-align:left;
        }
        ol li{
            display:flex;
            text-align: center;
            margin: 5px;
            font-size: 20px;
             scroll-snap-type: y mandatory
            }
    }
}

@media screen and (max-width: 700px) {
    .employeeForm{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        
        label{
        width: 90px;
        text-align:left;
        }
        ol li{
            display:flex;
            text-align: center;
            margin: 5px;
            font-size: 15px;
             scroll-snap-type: y mandatory
            }
    }
}