 
 @media screen and (min-width: 700px) {
.calenderSelect{
    margin-bottom: 0px !important;
    input{
        margin-top: 10px;
    }
    span{
        font-size: 20px;
        margin-bottom: 0px !important;
        width: 40%;
       
        }
        .calendar_month{
            // background: #3C9EBD;
            background: var(--secondary-color);
            margin-bottom: 0px; 
            width: 80%;
            border-radius: 20px 20px 0px 0px;
            border-right: 1px solid;
        }
        .calendar_day{
            background:var( --primary-color);
             margin-bottom: 0px;
             width: 80%;
             border-radius: 20px 20px 0px 0px;
             border-left: 1px solid;
            }
            .table.table-bordered.table-hover{
                margin: 0px !important;
            }
    }
}   
 @media screen and (max-width: 500px) {
    .calenderSelect{
        margin-bottom: 0px !important;
        input{
            margin-top: 10px;
        }
        span{
            font-size: 10px;
            margin-bottom: 0px !important;
            width: 40%;   
            }
            .calendar_month{
                background: var(--secondary-color);
                width: 80%;
                margin-bottom: 0px; 
                border-radius: 20px 20px 0px 0px;
                border-right: 1px solid;
            }
            .calendar_day{
                background:var( --primary-color);
                width: 80%;
                 margin-bottom: 0px;
                 border-radius: 20px 20px 0px 0px;
                 border-left: 1px solid;
                }
                .table.table-bordered.table-hover{
                    margin: 0px !important;
                 border-bottom: white !important;
                }
        }
     }
.page_title{
    background: black;
    margin-bottom: 20px;
}
.useradd_page{
    .table.table-bordered{
        border-collapse: collapse;
    
        font-size: 0.9em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    }
    thead{
        // background-color: #009879;
        border: 1px !important;
        color: #ffffff;
    }
    // tbody tr:nth-of-type(even) {
    //     background-color: #34df89;
    // }
    tbody tr:last-of-type {
        border-bottom: 2px solid #f89f9f;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
}