/*
    DEMO STYLE
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
}

a,
a:hover,
a:focus {
  color: white;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #14254d;
  border: none;
  border-radius: 0;
  margin-bottom: 0px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  margin-top: 2px !important;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
.caption-1 img {
  height: 350px;
  margin-bottom: 30px;
  border-radius: 3%;
}
.caption-2 img {
  height: 350px;
  margin-bottom: 30px;
  border-radius: 3%;
}
.imgCaptionRow {
  padding-left: 35px;
  padding-right: 35px;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.wrapper {
  display: flex;
  align-items: stretch;
  perspective: 1500px;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #14254d;
  color: #fff;
  transition: all 0.6s cubic-bezier(0.945, 0.02, 0.27, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #14254d;
}
.headerContent {
  display: flex;
  align-items: center;
}
.logoSideBar {
  display: flex;
  flex-direction: column;
  width: 100px;
}
.logoMenuBar {
  width: 50px;
}
.searchIcon {
  font-size: 20px;
  color: white;
}
#advertising{
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 30px;
  z-index: 999;
  color: white;
  background:url(../image/deals.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 350px;
  display: none;
  text-align: center;
  margin: 27%
}
#advertising-One,#advertising
>div{
  padding: 30px;
}
#advertising-One{
  position: absolute;
  justify-content: center;
  align-items: center;
  padding: 30px;
  z-index: 999;
  color: white;
  background:url(../image/deals1.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
  height: 350px;
  display: none;
  text-align: center;
  margin: 27%
}
.text-white{
  padding: 10px;
  font-size: 20px;
}
.fas.fa-times-circle{
  position: absolute;
  top:10px;
  right: 10px;
}
.menuBarContainer {
  display: flex;
  justify-content: space-between;
}
.imgResponsive {
  width: 100%;
  height: auto;
}
.mainPageCalender {
  display: flex;
  justify-content: space-between;
}
.mainImgContainer {
  position: relative;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}
.logoSideBar {
  display: flex;
  flex-direction: column;
  width: 100px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386d5;
  background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
}

a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before,
a[aria-expanded="true"]::before {
  content: "\e259";
  display: block;
  position: absolute;
  right: 5px;
  font-family: "Glyphicons Halflings";
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: "\e260";
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386d5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}
/*search box css start here*/
/* .search-sec {
  padding: 2rem;
} */
.search-slt {
  display: block;
  width: 100%;
  font-size: 15px;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  /* border: 1px solid #ccc; */
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
.wrn-btn {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius: 0;
}
img {
  display: block;
}
/* Img captions */
.caption-1 figcaption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.captionContent {
  text-align: center;
  color: white;
  font-size: 20px;
}
.captionPlace {
  font-size: 15px;
}
.captionTitle {
  font-size: 25px;
  width: max-content;
}
.captionDate {
  font-size: 15px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#content {
  min-height: 100vh;
  transition: all 0.3s;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.81, -0.33, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}
#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}
#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .search-sec {
    background: #1a4668;
  }
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
  }
  .search-sec {
    position: relative;
    top: -60px;
    background: none;
  }
}

.col-xs-12.col-sm-12.col-md-8.col-lg-9 li > a{
  color: #14254d;
}

table{
  width:1200px;
}

#tablecol{
  width:1200px;
  max-width: 100%;
}