.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}
.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}
.dateOfBirth {
  width: 106px;
  height: 35px;
  margin-left: 1px;
}
.formIcon {
  width: 14px;
}
.secureAnswer {
  margin-bottom: 15px;
}
.countryCodeBox {
  font-size: 15px;
  width: 150px;
  text-align-last: center;
}
.btn-facebook {
  background-color: #405d9d;
  color: #fff;
}
.btn-google {
  background-color: #42aeec;
  color: #fff;
}
