
.result{
    font-size: 30px;
    color: white;
    margin: 5px;
    background: cadetblue;
}
.adminIcon{
    width: 30%;
    margin-top: 5px;
}
@media only screen and (min-width: 900px){
    .scanner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        margin: 30px;
        .scan_result{
            font-size: 35px;
            background: blue;
            color: yellow !important;
        }
        section{
            width: 500px;
        }
    }
    .item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
   
        }
}
.adminBtn{
    // display:flex;
    margin-top: 20px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
  font-size: 16px;
  label :hover{
      background: rgb(104, 104, 224);
      border-radius: 10px;
  }
    label,div{
        color: white;
        background: #225ebf;
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        width: 30%;
        height: 200px;
        text-align: center;
        margin: 10px;
        font-size: 23px;
        margin-bottom: 10px;
        border-radius: 10px;
        span{
            height: 200px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
               .fas,.far{
                font-size: 200%;
            }
            }
    }
}
@media screen and (max-width: 900px) {
    .scanner{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-around;
        margin: 40px;
        section{
            padding: 20px;
            width: 350px;
        }
        .scan_result{
            font-size: 25px;
            background: blue;
            color: yellow !important;
        }
        .result{
            font-size: 20px;
            color: white;
            margin: 5px;
            background: cadetblue;
        }
    }

    .adminBtn{  
        margin-top: 20px;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
      font-size: 10px;
      label :hover{
        background: rgb(104, 104, 224);
        border-radius: 10px;
    }
        label,div{
        color: white;
        // background: linear-gradient(90deg, rgba(62, 103, 150, 0.919) 11.38%, rgba(58, 120, 177, 0.8) 25.23%, rgb(15, 33, 110) 100%);
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        width: 40%;
        height: 100px;
        text-align: center;
        padding: 3px;
        margin: 15px;
        font-size: 15px;
        margin-bottom: 10px;
        border-radius: 10px;
        span{
            height: 100px;
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            .fas,.far{
                font-size: 200%;
                }
            }
        }
    }
}