.att_page{
.fa-minus-circle,
.fa-plus-circle,
.fa-pen-square{
    font-size: 30px;
    margin: 1px;
}
.message_add_att{
    background: blue;
    color: yellow !important;
    margin: 10px 20%;
    padding: 5px;
}
}
.tiltle{
    text-align: center;
}

.calenderSelect{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
    .react-datepicker__close-icon{
        display: none;
    }
}

.updateForm{
    display: flex;
    flex-direction: column;
    margin: 6px;
}
.updateAttBtn{
    border: solid 1px black;
    background-color: rgb(250, 245, 182);
    text-decoration: none;
    width: 5em;
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    color: darkred;
}
.closeBtn{
    width: 25px;
    font-size: 25px;
    position: absolute;
    right: -9px;
    top: -9px;
}
.att_content{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
}
.table.table-bordered{
color: white;
tr,td{
    color: white; 
}
}
.gobackSalary{
position: fixed;
left: 15px;
margin: 10px;
}
.att_page{
    .table.table-bordered{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 1em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    }
    thead{
        background-color: #009879;
        color: #ffffff;
    }
    // tbody tr:nth-of-type(even) {
    //     background-color: #34df89;
    // }
    tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
}
@media screen and (max-width: 500px) {
.att_page{
    .table.table-bordered{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.8em;
        font-family: sans-serif;
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    }
    thead{
        background-color: #009879;
        color: #ffffff;
    }
    // tbody tr:nth-of-type(even) {
    //     background-color: #34df89;
    // }
    tbody tr:last-of-type {
        border-bottom: 2px solid #009879;
    }
    tbody tr.active-row {
        font-weight: bold;
        color: #009879;
    }
}
}
@media screen and (max-width: 800px) {
    .updateAttendance, .addAttendance {
        position: relative;
        border-radius: 20px;
        border: solid 1px black;
        padding: 10px;
        width: 100%;
        background-color: cadetblue;
        .addForm{
            display: contents;
            label{
                margin: 5px;
            }
            .in_out{
                width: 100px;
                margin-left: 4px;
            }
        }
    }
    .closeBtn{
        width: 20px;
        font-size: 20px;
        position: absolute;
        right: 0px;
        top: 0px;
    }
}
.updateAttendance, .addAttendance {
    position: relative;
    border-radius: 20px;
    border: solid 1px black;
    padding: 10px;
    background-color: cadetblue;
    .addForm{
        display: contents;
        label{
            margin: 5px;
        }
        .in_out{
            width: 100px;
            margin-left: 4px;
        }
    }
}