.HomeBtn{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 130%;
    // font-size: 4vw;
    align-items: center;
  
    div{
        border: solid 1px 5c646c;
        border-radius: 20px;
        width: 40%;
        height: 140px;
        margin: 10px;
        margin-top: 20px;
        background: #53A4AD;
   

        :hover{
            background:#B6D9DC ;
            cursor: pointer;
            border-radius: 20px;
        }
        .far,.fas{
            font-size: 200%;
            color: white;
         }
    .link{
        font-family: monospace;
        box-shadow: 15px 15px 15px 1px rgba(15, 15, 15, 0.2) m ;
        height: 140px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
         margin: 0px;
        padding: 3px;
        color: white;
        text-decoration: none;
        }
    }
}

.HomePage{

    p{
        background: black;
        font-size: 170% ;
        color: white;
        margin: 5px;
         padding: 3px;
    }
    span{
        margin: 20px;
    }
    .fa-sign-out-alt{
        z-index: 10;  
        color: white;   
        margin: 5px;
        padding: 3px;
        margin-right: -40px;
    }
}
.bottemBar{
    .far,.fas{
        margin: 10px;
        padding: 2px;
        font-size: 200%;
        color: #456484;
        margin-left: 20%;
     }
}
p,h3{
    color: white !important;
    margin: 3px;
}
.slick-slider.slick-initialized{
    background: black;
}
.slick-arrow.slick-next{
    display: none !important;
}
.sliderBar{

    p{
        background: black;
        font-size: 170% ;
        color: white;
        margin: 5px;
         padding: 3px;
    }
    span{
        margin: 20px;
    }
    .fa-sign-out-alt{
        z-index: 10;  
        color: white;   
        margin: 5px;
        padding: 3px;
        margin-right: -40px;
    }
}
@media only screen and (max-width: 900px){

.date_clock{
        p{
        font-size: 130% ;
        margin-top: 0px;
        padding: 3px;
        .fas{
            font-size: 150% ;
            padding: 4px;
        }
        }
    }
}