* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.199);
    background-image: url('../images/blackjack-background.jpg') ;
    
}


/* --------------header------------------ */
header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.menu{
    position: absolute;
    left: 25px;
    font-size: 20px;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}

.chat_button{
    position: absolute;
    right: 20px;
    /* border: 1px solid white; */
    /* padding: 5px 15px; */
    /* border-radius: 10px; */
    /* background: none; */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button{
    position: absolute;
    right: 100px;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button:hover{
    background: white;
    color: black;
}

@media screen and (max-width: 414px) {
    .quit_button{
        display: none;
        /* right: 20px; */
    }
}


/* --------------gametable------------------ */
.game_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_table{
    background-image: url('../images/gameroom-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85vh;
    border: yellow solid 2px;
    display: flex;
    justify-content:flex-end;
    align-items: stretch;
    flex-direction: column;
}
/* --------------gamecontainer /player------------------ */
.player_container{
    display: flex;
    justify-content:space-evenly;
    align-content: flex-end;
    
    /* flex-flow: row; */
    /* align-items: center; */
}

.judge{
    color: white;
    position: absolute;
    top: 111px;
    z-index: 1;
    width: 170px;
    height: 200px;
    border: white solid 1px;
}

.game_player{
    width: 170px;
    height: 200px;
    border: white solid 1px;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.player_name{
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;
    
}