.player{
    position: fixed;
    bottom: 0%;
    margin: 0;
    padding: 1px;
    color: white;
    font-size: 13px; 
    text-align: center;
}

header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}
.menu{
    position: absolute;
    left: 25px;
    font-size: 20px;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}

.chat_button{
    position: absolute;
    right: 20px;
    /* border: 1px solid white; */
    /* padding: 5px 15px; */
    /* border-radius: 10px; */
    /* background: none; */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button{
    position: absolute;
    right: 100px;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button:hover{
    background: white;
    color: black;
}

body{
    background-color: rgba(0, 0, 0, 0.199);
    background-image: url('../images/gameroom-bg.png') ;  
} 

.hidden{
    display: none;
}

.playerIcon{
    position: relative;;
    width: 100px;
    height: 100px;
}
.playerMoney{
    font-weight: 600;
    font-size: 1.1em;
    letter-spacing: 3px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.playerBox,.player{
    display: flex;
}
#message{
    font-size: 20px;
    color: cornsilk;
}
.player{
    padding: 3px;
    margin: 3px;
    position: absolute;
    bottom: 20%;
}

#chat-messages{
    background-color:black;
    position: absolute;
    top:0%;
    right:0%;
    color: white;
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 15%;
    /* opacity: 0.5; */
    overflow-y: scroll;
    transform: rotate(0deg);
}
#chat-messages>p{
    transform: rotate(-0deg);
}
/* #chat-messages:hover{
    opacity: 1.0;
} */
.playerinfo{
    padding: 20px;
}

#cheat{
    left: 5%;
    top: -3%;
    position:absolute;
    z-index: 99;
    width: 100px;
    height: 120px;
}
.game_container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.game_table{
    background-image: url('../images/gameroom-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85vh;
    border: yellow solid 2px;
    display: flex;
    justify-content:flex-end;
    align-items: stretch;
    flex-direction: column;
}
/* --------------gamecontainer /player------------------ */
.player_container{
    display: flex;
    justify-content:space-evenly;
    align-content: flex-end;
    
    /* flex-flow: row; */
    /* align-items: center; */
}

.judge{
    color: white;
    position: absolute;
    top: 13%;
    left: 40.5%;
    display: flex;
    z-index: 1;
    width: 166px;
    height: 140px;
    flex-direction: column;
    flex-wrap: nowrap;
}

#dealer{
    z-index: 10;
    top: 1.5%;
    left: 40%;
    display: flex;
}

.game_player{
    width: 170px;
    height: 200px;
    border: white solid 1px;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 5px;
}

.player_name{
    position: absolute;
    left: 50%;
    top: -15px;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 20px;

    
}

.playerHand>img {
    display: flex;
    flex-wrap: wrap;
    width: 80px;
    height: 110px;
    /* background-color: red; */
    position: relative;
    /* animation-name: example;
    animation-duration: 2s; */
    animation: flyin .5s ease-out;
    /* animation-iteration-count: 2; */
    /* animation-direction: alternate-reverse;   */
  }
  @keyframes flyin {
    0% {
      transform: perspective(500px) translate3d(30px, -1000px, 50px) rotate(60deg);
    }
  }

.dealerCard{
    top: 15%;
    left: 41%;
    position: absolute;
    animation: flyin .5s ease-out;
  }

.dealer_score {
    color: white;
}
.dealerCard>img{
    width: 80px;
    height: 110px;
}
.playerHand{
    display: flex;
}
.otherPlayerInfo{
    /* position: relative; */
    display: flex;
    /* bottom: 80px; */
    flex-direction: column;
    /* top: -200px; */
    padding: 30px;
    margin: 30px;
}
.playerinfo{
    /* position: absolute;
    bottom:5%; */
    padding: 40px;
    margin: 40px;
}

#btnSit {
  display: inline-block;
  padding: 5px ;
  z-index:1000;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 15px;
  font-family: 'Dosis', sans-serif;
}
.playerBet{
    padding: 3px;
    font-weight: 100;
    font-size: 1.2em;
    text-align: center;
    outline: transparent;
    border: none;
    border-radius: 1px;
    background-color: rgba(0,0,0,.75);
    color: gold;
    letter-spacing: 1px;
}
#btnHit {
  display: inline-block;
  padding: 5px ;
  z-index:1000;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #f51010;
  border: none;
  border-radius: 15px;
  font-family: 'Dosis', sans-serif;
}
#btnStand {
  display: inline-block;
  z-index:1000;
  padding: 5px ;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #3e8e41;
  border: none;
  border-radius: 15px;
  font-family: 'Dosis', sans-serif;
}
#btnQuit {
  display: inline-block;
  padding: 5px ;
  z-index:1000;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 15px;
  font-family: 'Dosis', sans-serif;
}
#btnReset {
  display: inline-block;
  padding: 5px ;
  font-size: 15px;
  z-index:1000;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #1C449C;
  border: none;
  border-radius: 15px;
  font-family: 'Dosis', sans-serif;
}
.btnlist{
    z-index:1000;
    margin: 10px;
}
.btn:hover {
    background-color: #101110}

input:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#submitBet{
font-size: 15px;
letter-spacing: 2px;
margin: 0px 5px;
box-shadow: 2px 2px 2px black;
transition: .25s all;
background-color: black;
color: rgb(172, 172, 154);
border: none;
border-bottom: 2px solid goldenrod;
outline: transparent;
transform: translateY(2px);

}
#entering_text{
    padding: 5px;
flex-grow: 1;
    background:white;
    outline: transparent;
    border: none;
    border-bottom: 1px solid white;
}

#chip_bet{
    width: 50px!important;
    height: 20px;
    font-size: 17px;
    margin: 5px;
}
.gameroom_sending_chat{
width: 50px;
color: white;
background: transparent;
border: none;
box-shadow: none;
font-weight: 100;
font-size: 1em;
}
/* -----------------hide show--------------------- */
.hide{
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.show{
    opacity: 1;
    pointer-events: all;
    visibility: visible; 
    transition: .5s ease-in-out;
}