* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.199);
}

/* --------------header------------------ */
header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.login_button{
    position: absolute;
    right: 100px;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login_button:hover{
    background: white;
    color: black;
}
/* --------------Lobby Container------------------ */
.game_lobby_container{
    display: flex;
    border: red solid 1px;
}

.left_box, .right_box{
    border: black 2px solid;
    height: 700px;
}

.left_box{
    flex: 2;
    position: relative;
}

.quick_start{
    background-color: black;
    color: white;
    padding: 10px;
    /* border: white solid 1px; */
}

.room_background{
    background-color: rgba(128, 128, 128, 0.966);
}

.room_all_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-bottom: black solid 1px;
}



.room_title_style{
    height: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}



.room_id{
    flex: 0.1;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}

.room_name{
    flex: 0.5;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}

.open_room_btn{
    position: absolute;
    right: 17px;
    bottom: 13px;
    border-radius: 10px;
    background: rgb(17, 157, 164);
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
}

.open_room_btn:hover{
    background-color: black;
    color: rgb(221, 163, 36);
}
.right_box{
    flex: 0.3;
    position: relative;
}
.online_user_title{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80px;
    left: 50%;
    font-weight: bold;
}

.online_user_container{
    height: 500px;
    width: 90%;
    max-width: 250px;
    border: solid 1px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


/* --------------Subtitle------------------ */
.subtitle{
    text-align: center;
    margin-top: 10px;
}
.shop_items_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.item_info{
    position:flex;
    display: flex;
    margin: 10px;
    /* flex-wrap: wrap; */
    flex-direction: column;
    text-align: center;
}

.item_icon>img{
        height: 120px ;
        width: 120px ;
        border: black 1px solid;
        cursor: pointer;
}

/* hide show */
.hide{
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.show{
    opacity: 1;
    pointer-events: all;
    visibility: visible; 
    transition: .5s ease-in-out;
}