.member_info_section {
    display: flex;
    width: 100%;
    height: 500px;
    background-color: #ddd;
}

.setting_box {
    background-color: #eee;
    width: 30%;
    height: 90%;
    max-width: 200px;
}

.setting_box_header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid #777 2px;
}

#setting_word1 {
    margin: 0 0 0 10px;
}

#setting_word2 {
    margin: 0 5px;
}

.setting_bar {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 120px;
}

.setting_bar_topic,
.setting_bar_item {
    margin: 5px;
    
}

.setting_bar_item .fas{
    width: 25px;
}

.setting_bar_item:hover{
    cursor: pointer;
    background-color: #C2BA9E;
}

.member_info_box, .game_shop_box, .table_interface_box{
    width: 78%;
    height: 90%;
    background-color: #eee;
    margin-left: 2%;
}

.member_info_header {
    display: flex;
    align-items: center;
    height: 50px;
    border-bottom: solid #777 2px;
}

.member_info_title_wordings {
    margin: 0 10px;
}

.profile_picture {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: black solid 5px;
}

.profile_picture {
    margin: 10px;
}

.user_profile {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.users_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 220px;
    margin: 20px 10px;
}

.member_info_content{
    display: flex;
    align-items: center;
}

.users_info_items{
    margin: 8px 0;
}

.game_shop_box, .table_interface_box {
    display: none;
}

.owned_item_container{
    display: flex;
    height: 90%;

}

.item_icon_{
    margin-top: 20px;
}


.shop_items_description{
    border: solid black 1px;
    flex: 0.3;
}

.shop_items_description img{
    height: 120px ;
    width: 120px ;
}

.shop_items_list{
    border: solid black 1px;
    flex: 0.7;
    align-content: flex-start;
    /* overflow-y: scroll; */
}

.use_item_info{
    text-align: center;
}

.use_submit{
    margin-top: 10px;
}



/* confirm form */
.close_use_item_form_button{
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    top: 16px;
    right: 21px;
    cursor: pointer;
}

.use_item_form_container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.use_item_form_container h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.use_item_form_container .text_area{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.use_item_form_container .text_area input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.use_item_form_container .text_area label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.use_item_form_container .text_area span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
    transition: 0.5s;
}

.text_area span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
}

.use_item_form_container .text_area input:focus ~ label,
.use_item_form_container .text_area input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.use_item_form_container .text_area input:focus ~ span,
.use_item_form_container .text_area input:valid ~ span::before
{
    width: 100%;
}



.confirm_submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    /* background-color: #2691d9; */
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    letter-spacing: 7px;
}

.confirm_submit:hover{
    border-color: #2691d9;
    transition: .5s;
}

.error_info{
    position: absolute;
    top: 159px;
    left: 27px;
    color: red;
    font-size: 14px;
}