body{
    background-color: rgba(0, 0, 0, 0.199);
    background-image: url('../images/blackjack-background.jpg') ;
    
}
/* --------------header------------------ */
header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

.menu{
    position: absolute;
    left: 25px;
    font-size: 20px;
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}

.chat_button{
    position: absolute;
    right: 20px;
    /* border: 1px solid white; */
    /* padding: 5px 15px; */
    /* border-radius: 10px; */
    /* background: none; */
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button{
    position: absolute;
    right: 100px;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.quit_button:hover{
    background: white;
    color: black;
}
/* /////////////////////////////////// */
img{
    width: 170px;
    height: 150px;
}

.shop_container{
    height: 620px;
    width: 1000px;
    border: solid 1px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(30, 36, 85, 0.534);
    /* background-color: rgb(224, 154, 89); */
    position: absolute;
    transform: translate(-50%, -50%);
    top: 55%;
    left: 50%;
}

.product_container{
    border: solid 1px black;
    text-align: center;
    margin: 18px;
    padding: 10px;
    height: max-content;
    background-color: rgba(255, 255, 255, 0.781);
    border-radius: 5px;
}

.product_name{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.product_price{
    height: 30px;
}

.product_image img{
    width: 170px;
    height: 150px;
    padding: 10px;
}

.product_info{
    text-align: center;
}

.buy_button{
    margin-bottom: 10px;
    padding: 12px 36px;
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 40px;
    border: none;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    color: white;
    letter-spacing: 2px;
}

.buy_button:hover{
    background: linear-gradient(90deg, #2193b0, #6dd5ed);
    /* color: rgba(255, 255, 0, 0.678); */
    color: black;
}


/* //////////////////////////////Shop show member info//////////////////////////// */

.shop_show_member_info{
    background-color: black;
    color: white;
    border: white solid 1px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
    position: absolute;
    right: 0;
    width: 400px;
    padding: 5px;
    top: -55px;
}

.game_balance{
    color: rgb(0, 174, 255);
    font-weight: bold;
}

.add_balance{
    color: black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(0, 174, 255);
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
    
}

.add_balance:hover{
    background-color: grey;
    color: rgb(221, 163, 36);
}

.fa-coins{
    color: yellow;
}

.checkout_container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.close_add_balance_form{
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    top: 16px;
    right: 21px;
    cursor: pointer;
}

.product {
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.product h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    /* color: black; */
}

.product_img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-bottom: 1px solid black;
}

.description {
    display: flex;
    justify-content: space-between;
}

#purchase_button {
    width: 100%;
    padding: 10px;
}


/* //////////////////////////////Confirm Modal Box//////////////////////////// */

.close_confirm_form_button{
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    top: 16px;
    right: 21px;
    cursor: pointer;
}

.confirm_form_container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.confirm_form_container h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.confirm_form_container .text_area{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.confirm_form_container .text_area input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.confirm_form_container .text_area label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.confirm_form_container .text_area span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
    transition: 0.5s;
}

.text_area span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
}

.confirm_form_container .text_area input:focus ~ label,
.confirm_form_container .text_area input:valid ~ label {
    top: -5px;
    color: #2691d9;
}

.confirm_form_container .text_area input:focus ~ span,
.confirm_form_container .text_area input:valid ~ span::before
{
    width: 100%;
}



.confirm_submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    /* background-color: #2691d9; */
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    letter-spacing: 7px;
}

.confirm_submit:hover{
    border-color: #2691d9;
    transition: .5s;
}



/* -----------------nav bar--------------------- */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  .sidebar{
    position: fixed;
    width: 230px;
    left: -240px;
    top: 0;
    height: 100%;
    background: #1e1e1e;
    transition: all .5s ease;
    z-index: 9;
  }
  .sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
  }
  .sidebar a{
    display: block;
    height: 65px;
    width: 100%;
    color: white;
    line-height: 65px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
  }
  a.active,a:hover{
    border-left: 5px solid #b93632;
    color: #b93632;
  }
  .sidebar a i{
    font-size: 23px;
    margin-right: 16px;
  }
  .sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    left: -9px;
    top: -12px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    margin: 15px 30px;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
  }
  label #cancel{
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
  }
  #check:checked ~ label #cancel{
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
  }











/* -----------------hide show--------------------- */
.hide{
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.show{
    opacity: 1;
    pointer-events: all;
    visibility: visible; 
    transition: .5s ease-in-out;
}