.shop_items_list{
    display: flex;
    justify-content: space-between;
}

.first{
    margin: 10px;
}

.item_icon {
    height: 120px ;
    width: 120px ;
    border: black 1px solid;
    
}

.item_cost {
    display: flex;
    justify-content: center;
    height: 30px;
    width: 50px;
    border: black 1px solid;
    margin-top: 10px;
    margin-left: 35px;
}