.excelBtn{
     .messageBox{
        background: blue;
        margin: 10px;
        color:yellow;
        font-size: 13px;
        font-weight: 900;
    }   
    a{
        color: rgb(59, 75, 226);
        text-decoration: none;
    }  
}
.resultBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    label{
        font-size: 10px;
    }
    a{
        color: red;
        text-decoration: none;
    }

}
.downloadText{
    font-size: 1px;
}
.bulk_part{
    margin-left: 10%;
    width: 80%;
    input{
        margin: 5px;
    }
}
