.adminRosterContainer{
    display: flex;

    .adminRosterApplyLeaveTitle{
        margin-left: 30px;
        text-align: left;
    }

    .adminRosterApplyLeave{
        width: 200px;
        height: 100vh;
        align-items: center;
        margin-top: 100px;
    }

    .adminRosterLeaveForm{
        text-align: left;
        margin-left: 30px;
        margin-top: 20px;

        .adminRosterLeaveFormItem{
            width: 200px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }
}

.adminRoster{
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    .selectedDepartmentTitle{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .selectedDepartment{
            margin: 20px 0;
            font-size: 30px;
        }
    }

    .StaffListContainer{
        display: flex;

        .StaffList{
            width: 80px;
            margin: 5px 0;
            padding-right:5px;
            text-align: left;
        }
    }

    .staffListHeader{
        display: flex;
        font-size: 20px;

        .StaffListItem{
            width: 80px;
            margin: 0;
            text-align: left;
        }

        .StaffList{
            display: flex;
        }
        
        .StaffListCal{
            font-size: 15px;
            width: 23.55px;
            margin: 0;
            text-align: center;
        }
    }

    .inputCell{
        display: flex;
        input{
            width: 40px;
            margin: 5px 0;
            padding-right:5px;
        }
    }

    .input{
        background-color: none;
        border: 1px solid white;
        color: white;
        width: 20px;
    }

    .react-datepicker-wrapper{
        display: flex;
        padding: 0;
        width: 200px;
    }

    .react-datepicker__input-container{
        text-align: left;
    }

    .adminRosterTable{
        border: none;
    }
}

.adminRosterSelectedMonth{
    text-align: left;
    font-size: 15px;
    width: 160px;
}

.adminRosterTitle{
    width: 100px;
    margin-left: 0;

}
.title_bar{
margin-top: 30px;
display: flex;
flex-direction: row;
max-width: 900px;
width: 900px;
align-content: center;
justify-content: space-between;
align-items: stretch;
flex-wrap: nowrap;
}

.monthCalender{
    width: 160px;
}

.adminRosterDepartmentLeaveInfoContainer{
    margin-left: 50px;
    margin-top: 100px;

    .leaveTableTitle{
        margin-bottom: 30px;
    }

    .leaveTable{
        .leaveTableItem{
            width: 120px;
        }
    }
}