.qrcode {
    padding: 25px; 
}
.Outbtn{
 
    background: -moz-linear-gradient(-45deg, white 0%, white 50%, #ff3232 51%, #ff3232 100%);
    background: -webkit-linear-gradient(-45deg, white 0%,white 50%,#ff3232 51%,#ff3232 100%);
    background: linear-gradient(135deg, white 0%,white 50%,#ff3232 51%,#ff3232 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#ff3232',GradientType=1 );
}
.Inbtn{
    background: -moz-linear-gradient(-45deg, white 0%, white 50%, #282fff 51%, #005dff 100%);
    background: -webkit-linear-gradient(-45deg, white 0%,white 50%,#282fff 51%,#005dff 100%);
    background: linear-gradient(135deg, white 0%,white 50%,#282fff 51%,#005dff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='white', endColorstr='#005dff',GradientType=1 );
}
.clickbtnQR{
        display:inline-block;
        padding:0.2em 1.45em;
        margin:0.1em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Segoe UI','Roboto',sans-serif;
        font-weight:400;
        text-align:center;
        position:relative;
        margin: 50px;
        width: 80%;
     
        height: 180px;
        border-radius: 30px;
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        .link{
            font-size: 40px;
            color: white;
            text-decoration: none;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-content: center;
            justify-content: space-between;
            align-items: center;
            height: 180px;
        }
        .in_men{
            width: 120px;
            padding: 10px;
        }
        .out_women{
            width: 95px;
            padding: 10px;
        }
}

.fa-times-circle{
       
        margin: 5px;
        font-size: 20px;
        border-radius: 30px;
        background-color:red;
        color: white;
}
.btn_list{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.mrLai{
    // position: absolute;
    // bottom: -20%;
    // right: -20%;
    margin-top: 50px;
    width: 60%;
    z-index: -1;
}
.mrLaiTwo{
    z-index: -1;
    position: absolute;
    bottom: -30%;
    right: 0%;
    margin: 0px;
    width: 100%;
}
.hidden{
    display:none ;
}
.fourguy_right{
    z-index: -1;
    position: fixed;
    width: 50%;
    right: -20%;
}
.fourguy_left{
    z-index: -1;
    position: fixed;
    width: 50%;
    left: -10%;
}
.QrCode{
    margin-top: 30px;
    .In_title{
        background: blue;
        margin-bottom: 40px;
        font-size: 50px;
        font-family: emoji;
    }
    .Out_title{
        background: red;
        margin-bottom: 40px;
        font-size: 50px;
        font-family: emoji;
    }
}