

.staff_text{
    font-size: 20px;
    background: white;
    color: black;
}
.calculator_result{
    background: blue;
    color: yellow;
}
.gobackSalary{
    color: white;
    font-size: 30px;
margin-right: 100px;
}
.remarkContent{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.remarkBox{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30%;
    position: fixed;
    padding: 15px;
    background-color: #ccc;
    align-items: center;
    color: black;
    z-index: 99999;
    .the_content{
        height: 100px;
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    .addBtn{
      width: 30%;
      border: solid 1px black;
      background-color: #faf5b6;
      text-decoration: none;
      color: darkred;
    }
    .addMessage{
       padding: 5px;
       background: blue;
       color: yellow !important;
    }
    .closebtn {
        position: absolute;
        top: 5px;
        right: 15px;
        color: white;
        font-size: 30px;
        color: darkred;
        cursor: pointer;
      }
}
.salary_bar{
margin: 30px;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
height: 40px;
align-content: center;
justify-content: center;
align-items: stretch;
}

.calculator_page{
    $baseColor: #327a81;
    $borderRadius: 10px;
    $imageBig: 100px;
    $imageSmall: 60px;
    $padding: 10px;
    .fas.fa-calculator{
        color: black;
    }
    body {
       background-color: lighten($baseColor, 30%);
       * { box-sizing: border-box; }
    }
  
    .header {
       background-color: darken($baseColor, 5%);
       color: white;
       font-size: 1.5em;
       padding: 1rem;
       text-align: center;
       text-transform: uppercase;
    }
    
    img {
       border-radius: 50%;
       height: $imageSmall;
       width: $imageSmall;
    }
    
    .table-users {
       border: 1px solid darken($baseColor, 5%);
       border-radius: $borderRadius;
       box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
       max-width: calc(100% - 2em);
       margin: 1em auto;
       overflow: hidden;
       width: 800px;
    }
    
    table {
       width: 100%;
       
       td, th { 
        
          padding: $padding; 
       }
       
       td {
          text-align: center;
          vertical-align: middle;
          
          &:last-child {
             font-size: 0.95em;
             line-height: 1.4;
           
          }
       }
       
       th { 
          background-color: lighten($baseColor, 0%);
          font-weight: 300;
       }
       
       tr {     
          &:nth-child(2n) { background-color: #327a81; }
          &:nth-child(2n+1) { background-color: lighten($baseColor, 15%) }
       }
    }

    @media screen and (max-width: 650px) {  
  
       table, tr, td { display: block; }
       tbody{
        display: contents;
       }
       
     thead{
       
        tr{
         th:nth-child(4){display: none;};
         th:nth-child(5){display: none;};
         th:nth-child(6){display: none;};
       
      }
     }
       td {
          &:first-child {
             position: absolute;
             top: 50%;
             transform: translateY(-50%);
             width: $imageBig;
          }
    
          &:not(:first-child) {
             clear: both;
             margin-left: $imageBig;
             padding: 4px 20px 4px 90px;
             position: relative;
   
    
             &:before {
     
                content: '';
                display: block;
                left: 5px;
                position: absolute;
             }
          }
    
          &:nth-child(2):before { content: 'Name:'; }
          &:nth-child(3):before { content: 'Salary:'; }
          &:nth-child(4):before { content: 'For Calculator:'; }
          &:nth-child(5):before { content: 'Remark:'; }
          &:nth-child(6):before { content: 'Check Box:'; }
       }
       
       tr {
          padding: $padding 0;
          position: relative;
         
       }
    }
    
    @media screen and (max-width: 500px) {
       .header {
          background-color: transparent;
          color: lighten($baseColor, 10%);
          font-size: 2em;
          font-weight: 700;
          padding: 0;
          text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
       }
       
       img {
          border: 3px solid;
          border-color: lighten($baseColor, 10%);
          height: $imageBig;
          margin: 0.5rem 0;
          width: $imageBig;
       }
       tbody{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
       }
       td {
          &:first-child { 
             background-color: lighten($baseColor, 15%); 
             border-bottom: 1px solid lighten($baseColor, 30%);
             border-radius: $borderRadius $borderRadius 0 0;
             position: relative;   
             top: 0;
             transform: translateY(0);
             width: 100%;
          }
        
          
          
          &:not(:first-child) {
             margin: 0;
             padding: 5px 1em;
             width: 100%;
             
             &:before {
                font-size: .8em;
                padding-top: 0.3em;
                position: relative;
             }
          }
   
          &:last-child  { padding-bottom: 1rem !important; }
       }
       
       tr {
     
          border: 1px solid lighten($baseColor, 20%);
          border-radius: $borderRadius;
          box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
          margin: 0.5rem 0;
          padding: 0;
       }
       
       .table-users { 
          border: none; 
          box-shadow: none;
          overflow: visible;
       }
    } 
}




@media screen and (min-width: 800px) {
.calculator_page{
   .salary_bar select {
         background-color: #0563af;
         color: white;
         padding: 12px;
         width: 40vw;
         height: 50px;
         border: none;
         font-size: 20px;
         box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
         -webkit-appearance: button;
         appearance: button;
         outline: none;
       }
      
       .salary_bar:hover::before {
         color: rgba(255, 255, 255, 0.6);
         background-color: rgba(255, 255, 255, 0.2);
       }
       
       .salary_bar select option {
         padding: 30px;
       }
      }
   }

   @media screen and (max-width: 790px) {  
      .calculator_page{
         .salary_bar select {
               background-color: #0563af;
               color: white;
               padding: 5px;
               width: 40vw;
               height: 50px;
               border: none;
               font-size: 15px;
               box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
               -webkit-appearance: button;
               appearance: button;
               outline: none;
             }
               
       .salary_bar:hover::before {
         color: rgba(255, 255, 255, 0.6);
         background-color: rgba(255, 255, 255, 0.2);
       }
       
       .salary_bar select option {
         padding: 30px;
       }
      } 
   }





         .p_calculator_page{
            $baseColor: #327a81;
            $borderRadius: 10px;
            $imageBig: 100px;
            $imageSmall: 60px;
            $padding: 10px;
        
            .calculator_input{
               display: flex;
               flex-wrap: wrap;
               justify-content: space-evenly;
               align-items: center;
                  .select_month{
                   display: none;
               }
               label{
                  margin: 10px;
                  padding: 5px;
               }
           }
   
               .calculator_data{
               margin-top: 30px;
                margin: 20px;
                display: flex;
                align-items: stretch;
                flex-direction: row;
                flex-wrap: nowrap;
                align-content: center;
                justify-content: center;
                
                 .lateText{
                   background: rgb(233, 131, 131);
                }
                .OTtext{
                  background: rgb(176, 240, 139);
               }
                label{
                    margin: 5px;
                    font-size: 25px;
                    padding: 5px;   
             
                }
             
               }
            
            body {
               background-color: lighten($baseColor, 30%);
               * { box-sizing: border-box; }
            }
          
            .header {
               background-color: darken($baseColor, 5%);
               color: white;
               font-size: 1.5em;
               padding: 1rem;
               text-align: center;
               text-transform: uppercase;
            }
            
            img {
               border-radius: 50%;
               height: $imageSmall;
               width: $imageSmall;
            }
            
            .table-users {
               border: 1px solid darken($baseColor, 5%);
               border-radius: $borderRadius;
               box-shadow: 3px 3px 0 rgba(0,0,0,0.1);
               max-width: calc(100% - 2em);
               margin: 1em auto;
               overflow: hidden;
               width: 800px;
            }
            
            table {
               width: 100%;
               
               td, th { 
                
                  padding: $padding; 
               }
               
               td {
                  text-align: center;
                  vertical-align: middle;
                  
                  &:last-child {
                     font-size: 0.95em;
                     line-height: 1.4;
                   
                  }
               }
               
               th { 
                  background-color: lighten($baseColor, 0%);
                  font-weight: 300;
               }
               
               tr {     
                  &:nth-child(2n) { background-color: #327a81; }
                  &:nth-child(2n+1) { background-color: lighten($baseColor, 15%) }
               }
            }
        
            @media screen and (max-width: 700px) {  
               .calculator_data{
                  margin-top: 30px;
                   margin: 20px;
                   display: flex;
                   align-items: stretch;
                   flex-direction: row;
                   flex-wrap: nowrap;
                   align-content: center;
                   justify-content: center;
                   label{
                       margin: 2px;
                       font-size: 18px;
                       padding: 5px;
                   }
                
                  }
                  .calculator_input{
                     display: flex;
                     flex-wrap: wrap;
                     justify-content: space-evenly;
                     align-items: center;
                     font-size: 13px;
                        .select_month{
                         display: none;
                     }
                     label{
                        margin: 10px;
                        padding: 5px;
                     }
                 }
               table, tr, td { display: block; }
               tbody{
                display: contents;
               }
               
         
               td {
                  &:first-child {
                     position: absolute;
                     top: 50%;
                     transform: translateY(-50%);
                     width: $imageBig;
                  }
            
                  &:not(:first-child) {
                     clear: both;
                     margin-left: $imageBig;
                     // padding: 4px 20px 4px 90px;
                     position: relative;
           
            
                     &:before {
           
                        // content: '';
                        display: block;
                        left: 5px;
                       
                     }
                  }
            
                 
                  &:nth-child(2):before { content: 'Name:'; }
                  &:nth-child(3):before { content: 'Date:'; }
                  &:nth-child(4):before { content: 'Time:'; }
                  &:nth-child(5):before { content: 'in/out:'; }
                  &:nth-child(6):before { content: 'late by Min/Hour:'; }
                  &:nth-child(7):before { content: 'OT by Min/Hour:'; }
               }
               
               tr {
            
                  padding: $padding 0;
                  position: relative;
                 
               }
            }
            
            @media screen and (max-width: 500px) {
               
               .header {
                  background-color: transparent;
                  color: lighten($baseColor, 10%);
                  font-size: 2em;
                  font-weight: 700;
                  padding: 0;
                  text-shadow: 2px 2px 0 rgba(0,0,0,0.1);
               }
               
               img {
                  border: 3px solid;
                  border-color: lighten($baseColor, 10%);
                  height: $imageBig;
                  margin: 0.5rem 0;
                  width: $imageBig;
               }
               tbody{
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
               }
               td {
                  &:first-child { 
                     background-color: lighten($baseColor, 15%); 
                     border-bottom: 1px solid lighten($baseColor, 30%);
                     border-radius: $borderRadius $borderRadius 0 0;
                     position: relative;   
                     top: 0;
                     transform: translateY(0);
                     width: 100%;
                  }
                
                  
                  
                  &:not(:first-child) {
                     margin: 0;
                     padding: 5px 1em;
                     width: 100%;
                     
                     &:before {
                        font-size: .8em;
                        padding-top: 0.3em;
                        position: relative;
                     }
                  }
           
                  &:last-child  { padding-bottom: 1rem !important; }
               }
               
               tr {
             
                  border: 1px solid lighten($baseColor, 20%);
                  border-radius: $borderRadius;
                  box-shadow: 2px 2px 0 rgba(0,0,0,0.1);
                  margin: 0.5rem 0;
                  padding: 0;
               }
               
               .table-users { 
                  border: none; 
                  box-shadow: none;
                  overflow: visible;
               }
            } 
        }