.userPage{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .staffInfo{
        display: flex;
        font-size: 22px;
        padding: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin-top: 20px;

        .title{
            width: 100%;
        }
        
        .item{
            width: 100%;
            height: 31.25px;
            margin: 0;
            align-items: flex-start;
        }
    }
    .data_column{
       background-color: white;
       color: black;
        display: flex;
        margin-bottom: 20px;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        .item{
        align-items: center !important;
        }
    }
}

@media screen and (max-width: 500px) {
.userPage{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .staffInfo{
        display: flex;
        font-size: 15px;
        padding: 10px;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        margin-top: 20px;

        .title{
            width: 100px;
        }
        
        .item{
            width: 100%;
            height: 31.25px;
            margin: 0;
            align-items: flex-start;
        }
    }
    }
}