.link{
        margin: 2px;
        color: white;
        text-decoration: none;
}
.me-auto{
    width: 100%;
    .link{
        font-size: 25px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
.navbar.navbar-expand-lg.navbar-light.bg-light{
    margin: 0px;
    padding: 0px;
    background: black !important;
}


.link:hover{
        background-color: rgb(172, 231, 187);

}
.username{
    color: white !important;

}


.me-auto {
    background-color: rgb(247, 243, 235);
    padding: 5px;
    font-size: 16px;
    font-family: monospace;
    a{
        color: rgb(116, 116, 116);
    }
}
.container {
    background-color: #171a21;
    .navbar-brand{
    font-size: 30px;
    color: white;
    }
}
.fa-sign-out-alt{
    font-size: 16px;
    color: black;
}
.navbar-toggler:focus {
    box-shadow: 0 0 0 0.02rem !important;
    
}
.navbar-toggler-icon{
color: white;
background-color: white;
border-radius: 5px;
}
