.leave-table {
    margin-top: 3em;
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    .hook-table {
        td {
            padding-inline: 10px;
        }
        td.title {
            text-align: right;
        }
    }
}

