.editleave-table{
    table, th, td {
        border: 1px solid white;
        margin: auto;
        padding: 3px
    }
    thead {
        background-color: #175995;
    }
}
    
.checkbox {
    text-align: center;
}
.leave_goback{
    display: flex;
    margin: 20px;
    div {
        width: 33%;
    }
    h3 {
        display: inline;
        width: 33%;
    }
}
.leave_page {
    .fa-check-circle:before {
        font-size: 20px;
    }
    .fa-clipboard-list:before {
        position: absolute;
        font-size: 30px;
    }
}


.pending_laeve{
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin: 25px 0;
    font-size: 1em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
}