.leave-record-table{
    table, th, td {
        border: 1px solid white;
        margin: auto;
        padding-top: 10px;
        padding-inline: 25px;
        padding-block: 5px;
    }
    th {
        background-color: #175995;
    }
}

.leaveBtn{
margin-top: 30px;
}