
.checkout_container {
    /* border: solid 1px black;
    position: fixed;
    left: 50%;
    height: 50%;
    width: 400px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5; */
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.product {
    padding: 10px;
    border-radius: 5px;
    color: black;
}

.product h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    /* color: black; */
}

.product_img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-bottom: 1px solid black;
}

.description {
    display: flex;
    justify-content: space-between;
}

#purchase_button {
    width: 100%;
    padding: 10px;
}