.close_open_room_form{
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    top: 16px;
    right: 21px;
    cursor: pointer;
}

.open_room_form_container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.tab_container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: black 1px solid;
}

.open_room_form_container h1{
    text-align: center;
    /* padding: 0 0 20px 0; */
    border-bottom: 1px solid silver;
}

.open_room_form_container .text_area{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.open_room_form_container .text_area input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.open_room_form_container .text_area label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.targeted_span{
    /* content: ''; */
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
    transition: 0.5s;
}

.open_room_form_container .text_area input:focus ~ label,
.open_room_form_container .text_area input:invalid ~ label,
.open_room_form_container .text_area input:valid ~ label{
    top: -5px;
    color: #2691d9;
}

.open_room_form_container .text_area input:focus ~ span,
.open_room_form_container .text_area input:valid ~ span::before{
    width: 100%;
}

.room_info:nth-child(odd){
    overflow-x: hidden;
    background: black;
}
.room_info:nth-child(even){
    overflow-x: hidden;
    background: rgba(128, 128, 128, 0.966);
}
.room_info:nth-last-child(n){
    border-bottom: solid black 2px;
}

.room_info_container{
    position: relative;
    overflow-y: auto;
    height: 530px;
    z-index: 1;
}

/* .room_info_background{
    background-image: url("../image/bj-background.jpg");
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    
    opacity: 0.1;
  
} */



.no_room_notice{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


::-webkit-scrollbar {
    width: 2px;  /* Remove scrollbar space */
    background: white;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: blue;
}
/* .wrong_info {
    position: absolute;
    top: 225px;
    left: 27px;
    color: red;
    font-size: 14px;
}

.forget_pw{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forget_pw:hover{
    text-decoration: underline;
}

.login_submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.login_submit:hover{
    border-color: #2691d9;
    transition: .5s;
} */


@media screen and (max-width: 414px) {
    .open_room_form_container{
        width: 300px;
    }
}
@media screen and (max-width: 320px) {
    .open_room_form_container{
        width: 250px;
    }
}