* {
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: rgba(0, 0, 0, 0.199);
    background-image: url('../image/blackjack-background.jpg');
}

#music_mute{
    position: absolute;
    left: 10px;
}

/* --------------header------------------ */
header{
    background-color: rgba(0, 0, 0, 0.801);
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
}

header h1 {
    margin: 0;
}

.login_button, .logout_button{
    position: absolute;
    right: 100px;
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 10px;
    background: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login_button:hover{
    background: white;
    color: black;
}

@media screen and (max-width: 715px) {
    .login_button, .logout_button{
        right: 10px
    }
    
}
/* --------------Lobby Container------------------ */
.game_lobby_container{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: red solid 1px; */
}
.left_box, .right_box{
    border: black 2px solid;
    height: 720px;
    width: 100px;
}
.left_box{
    flex: 0.8;
    position: relative;
}

.lobby_show_member_info{
    background-color: black;
    color: white;
    border: white solid 1px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.game_balance{
    color: rgb(0, 174, 255);
    font-weight: bold;
}

.add_balance{
    color: black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(0, 174, 255);
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
    
}

.add_balance:hover{
    background-color: grey;
    color: rgb(221, 163, 36);
}

.fa-coins{
    color: yellow;
}

.quick_start{
    background-color: black;
    color: white;
    padding: 15px;
    text-decoration: none;
    cursor: pointer;
    /* border: white solid 1px; */
}

.quick_start_a_link{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px;
    cursor: pointer;
}

/* .open_room_btn{
    position: absolute;
    right: 17px;
    bottom: 13px;
    border-radius: 10px;
    background: rgb(17, 157, 164);
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
}
.open_room_btn:hover{
    background-color: black;
    color: rgb(221, 163, 36);
} */

.quick_entry_dav_bar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* width: auto; */
    background-color: black;
    /* cursor: pointer; */
}

.nav_open_room_btn{
    color: black;
    padding: 10px;
    border-radius: 10px;
    background: rgb(17, 157, 164);
    /* padding: 8px 18px; */
    cursor: pointer;
    font-weight: bold;
}

.nav_open_room_btn:hover{
    background-color: grey;
    color: rgb(221, 163, 36);
}

.room_background{
    background-color: rgba(128, 128, 128, 0.966);
}

.room_all_title_container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-bottom: black solid 1px;
}

.room_info{
    border: none;
    background: black;
    color: rgb(255, 255, 255);
}

.room_title_style{
    height: 25px;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 384px) {
    .room_title_style{
        font-size: 15px;
    }
}

.opened_room_title_style{
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room_id{
    flex: 0.1;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}

.room_name{
    flex: 0.5;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}

.room_amount{
    flex: 0.2;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}
.join_room{
    flex: 0.2;
    border: black 1px solid;
    background: rgba(255, 255, 255, 0.432);
    margin: 4px;
}

.opened_room_id{
    flex: 0.1;
    margin: 4px;
}

.opened_room_name{
    flex: 0.5;
    margin: 4px;
}

.opened_room_amount{
    flex: 0.2;
    margin: 4px;
}
.opened_join_room{
    flex: 0.2;
    margin: 4px;
}

.opened_join_room a{
    text-decoration: none;
}

.join_room_btn{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: 25px;
    padding: 10px 18px;
    background: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
}
.join_room_btn:hover{
    background-color: black;
    color: rgb(221, 163, 36);
    border: rgb(221, 163, 36) solid 1px;
}

@media screen and (max-width: 396px) {
    .join_room_btn{
        font-size: 12px;
    }
}



.open_room_btn{
    position: absolute;
    right: 17px;
    bottom: 13px;
    border-radius: 10px;
    background: rgb(17, 157, 164);
    padding: 8px 18px;
    cursor: pointer;
    font-weight: bold;
    z-index: 999;
}
.open_room_btn:hover{
    background-color: black;
    color: rgb(221, 163, 36);
}
.right_box{
    flex: 0.2;
    position: relative;
}

.clock{
    text-align: center;
    color: #17D4FE;
    font-size: 30px;
    background-color: black;
}

@media screen and (max-width: 1060px){
    .right_box{
        display: none;
    }
    .left_box{
        flex: 1;
    }
}
.online_user_title{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 80px;
    left: 50%;
    font-weight: bold;
    color: white;
    font-size: 22px;
}

.online_user_container{
    height: 500px;
    width: 200px;
    border: solid 1px black;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.fa-user-circle{
    width: 20px;
}

.onlineuser{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    color: white;
    background-color: grey;
}

.show_online{
    width: 100px;
}

/* --------------Subtitle------------------ */
.subtitle{
    position: relative;
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin-top: 10px;
}

.subtitle_text{
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    color: white;
    transform: translateX(100%);
    animation: scrolling 15s linear infinite;
}

@keyframes scrolling {
    0% {
        transform: translateX(100%);
    }
    100% {transform: translateX(-100%);
    }
}