.close_login_form, 
.close_register_form, 
.please_login_form,
.close_add_balance_form{
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    top: 16px;
    right: 21px;
    cursor: pointer;
}

.login_form_container, .register_form_container, .please_login_container{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.288);
    padding: 20px;
    z-index: 99;
}

.login_form_container h1, 
.register_form_container h1,
.please_login_container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.login_form_container .text_area,
.register_form_container .text_area,
.please_login_container .text_area{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.login_form_container .text_area input, 
.register_form_container .text_area input,
.please_login_container .text_area input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    outline: none;
}

.login_form_container .text_area label, 
.register_form_container .text_area label,
.please_login_container .text_area label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
}

.login_form_container .text_area span::before,
.please_login_container .text_area span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #2691d9;
    transition: 0.5s;
}

.register_form_container .text_area span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
}

.login_form_container .text_area input:focus ~ label,
.login_form_container .text_area input:valid ~ label,
.register_form_container .text_area input:focus ~ label,
.register_form_container .text_area input:invalid ~ label,
.register_form_container .text_area input:valid ~ label,
.please_login_container .text_area input:focus ~ label,
.please_login_container .text_area input:valid ~ label
{
    top: -5px;
    color: #2691d9;
}

.login_form_container .text_area input:focus ~ span,
.login_form_container .text_area input:valid ~ span::before,
.register_form_container .text_area input:focus ~ span,
.register_form_container .text_area input:valid ~ span::before,
.please_login_container .text_area input:focus ~ span,
.please_login_container .text_area input:valid ~ span::before
{
    width: 100%;
}

.please_login_info {
    position: absolute;
    top: 60px;
    left: 113px;
    color: red;
    font-size: 14px;
}


.wrong_info, .register_info {
    position: absolute;
    top: 234px;
    left: 27px;
    color: red;
    font-size: 14px;
}

.register_info{
    top: 66px;
    left: 105px;
}

.forget_pw{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.forget_pw:hover{
    text-decoration: underline;
}

.login_submit{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background-color: #2691d9;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.login_submit:hover{
    border-color: #2691d9;
    transition: .5s;
}

.signup_link{
    margin: 15px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register_form_button, .back_to_login_form_button{
    color: #2691d9;
    cursor: pointer;
    margin-left: 5px;
}

.register_form_button:hover,
.back_to_login_form_button{
    text-decoration: underline;
}

@media screen and (max-width: 414px) {
    .login_form_container, .register_form_container{
        width: 300px;
    }
    .please_login_info{
        top: 54px;
        left: 64px;
    }
}
@media screen and (max-width: 320px) {
    .login_form_container, .register_form_container{
        width: 250px;
    }
    .please_login_info{
        top: 54px;
        left: 36px;
    }
}

/* -----------------hide show--------------------- */
.hide{
    opacity: 0;
    visibility: hidden;
    user-select: none;
    pointer-events: none;
}
.show{
    opacity: 1;
    pointer-events: all;
    visibility: visible; 
    transition: .5s ease-in-out;
}