body{
    background-color: rgba(0, 0, 0, 0.199);
    background-image: url('../image/blackjack-background.jpg') ;
    
}
h3 {
    display: flex;
    justify-content: center;
    font-family: "Casino", Courier;
    /* font-family:'Casino 3D', sans-serif;  */
    color: #91311F;
    font-size: 50px;
    margin-top: 0px;
}
.player{
    /* position: fixed; */
    bottom: 200px;
   
}
.hidden{
    display: none;
}
img{
    width: 76px;
    height: 106px;
}
.money_box{
   background-color: red;
}
.playerBox,.player{
    display: flex;
}
.player{
    padding: 3px;
    margin: 3px;
}
#chat-messages{
    background-color: rgb(105, 102, 102);
    color: blanchedalmond;
    display: flex;
    flex-direction: column
}

.playerinfo{
    display: flex;
    justify-content: center;
    padding: 20px;
}
#cheat{
    /* background: url(../image/yugioh1.png); */
    right: 5%;
    top: -3%;
    position:absolute;
    z-index: 99;
    width: 100px;
    height: 120px;
}

/*  */

.game_table{
    background-image: url('../image/tableBackground.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 85vh;
    border: yellow solid 2px;
    display: flex;
    /* justify-content:flex-end; */
    align-items: stretch;
    flex-direction: column;
}

.dealer {
    display: flex;
}