.rosterPage{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;

    .rosterLink{
        text-decoration: none;
        color: white;
    }
    .onDuty{
        background: white;
        color: black;
        margin-top: 10px;
        padding: 5px;
    }
}

.rosterOption{
    display: flex;
    margin: 0 20px;
    border: 20px;
}

.personalMonthlySchedule{
   font-size: 25px;
   margin: 10px;
   width: 300px;
   height: auto;
}

.personalMonthlySchedule:nth-child(3n){
    border-bottom: 1px solid black;
}

.personalMonthlyScheduleContainer{
    border: 1px black solid;
}

.personalMonthlyScheduleTitle{
    font-size: 30px;
    margin: 10px;
}

.onDuty{
    .onDutyStaffList{
        display: flex;
        align-items: center;
        flex-direction: column;

        .staffTitle{
            display: flex;
        }

        .title{
            width: 93.75px;
        }

        .staffInfo{
            display: flex;
            width: 375px;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            
            .item{
                width: 200px;
            }
        }
    }

}